
{% extends "base.html" %}

{% block content %}
<h1>Hello {{ name }}! Welcome to Flash Cards!</h1>
<p>Time to study some Flash Cards!:</p>
<form method="POST" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {% if form.file.errors %}
        <ul class="errors">
                {% for error in form.file.errors %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <p> {{ form.file }} </p>
        <p> {{ form.submit() }} </p>
</form>
<p> {{title}} </p>
<ul>
        {% for flashCardTitles in cardTitles %}
        <li>
                <a href="{{ url_for('showFlashCards', title=flashCardTitles) }}">
                    {{ flashCardTitles }}
                </a>
        </li>
        {% endfor %}
</ul>

{% endblock %}